In [1]:
import pandas as pd

In [5]:
cols=["Series_Title","No_of_Votes","IMDB_Rating"]

In [6]:
movies=pd.read_csv("imdb_top_1000.csv",usecols=cols)

In [7]:
movies.head(3)

               Series_Title  IMDB_Rating  No_of_Votes
0  The Shawshank Redemption          9.3      2343110
1             The Godfather          9.2      1620367
2           The Dark Knight          9.0      2303232

In [8]:
movies["IMDB_Rating"]

0      9.3
1      9.2
2      9.0
3      9.0
4      9.0
      ...
995    7.6
996    7.6
997    7.6
998    7.6
999    7.6
Name: IMDB_Rating, Length: 1000, dtype: float64

In [10]:
movies["Watched"]=False
movies

                 Series_Title  IMDB_Rating  No_of_Votes  Watched
0    The Shawshank Redemption          9.3      2343110    False
1               The Godfather          9.2      1620367    False
2             The Dark Knight          9.0      2303232    False
3      The Godfather: Part II          9.0      1129952    False
4                12 Angry Men          9.0       689845    False
..                        ...          ...          ...      ...
995    Breakfast at Tiffany's          7.6       166544    False
996                     Giant          7.6        34075    False
997     From Here to Eternity          7.6        43374    False
998                  Lifeboat          7.6        26471    False
999              The 39 Steps          7.6        51853    False

[1000 rows x 4 columns]

In [11]:
movies.insert(loc=3,column="Reviews",value=None)

In [13]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series_Title  1000 non-null   object
 1   IMDB_Rating   1000 non-null   float64
 2   No_of_Votes   1000 non-null   int64
 3   Reviews       0 non-null      object
 4   Watched       1000 non-null   bool
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 32.4+ KB