In [1]:
import pandas as pd

In [49]:
richest=pd.read_csv('TopRichestInWorld.csv',usecols=["Industry"]).squeeze()
richest

0                 Automotive
1                 Technology
2           Fashion & Retail
3                 Technology
4      Finance & Investments
               ...
96           Metals & Mining
97                    Energy
98                Healthcare
99             Manufacturing
100              Real Estate
Name: Industry, Length: 101, dtype: object

In [14]:
type(richest)

pandas.core.series.Series

In [17]:
richest.to_csv('test.csv',index=False)

In [18]:
pd.read_csv("test.csv")

                         Name
0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
..                        ...
96           Vladimir Potanin
97       Harold Hamm & family
98               Sun Piaoyang
99         Luo Liguo & family
100                 Peter Woo

[101 rows x 1 columns]

In [20]:
richest.head(10)

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
5                  Larry Page
6                 Sergey Brin
7               Larry Ellison
8               Steve Ballmer
9               Mukesh Ambani
Name: Name, dtype: object

In [21]:
richest.head(-10)

0                    Elon Musk
1                   Jeff Bezos
2     Bernard Arnault & family
3                   Bill Gates
4               Warren Buffett
                ...
86              Vladimir Lisin
87        Fan Hongwei & family
88              Lakshmi Mittal
89              Andrew Forrest
90     Jiang Rensheng & family
Name: Name, Length: 91, dtype: object

In [22]:
richest.tail()

96         Vladimir Potanin
97     Harold Hamm & family
98             Sun Piaoyang
99       Luo Liguo & family
100               Peter Woo
Name: Name, dtype: object

In [23]:
richest.tail(-10)

10                     Gautam Adani & family
11                         Michael Bloomberg
12                 Carlos Slim Helu & family
13     Francoise Bettencourt Meyers & family
14                           Mark Zuckerberg
                       ...
96                          Vladimir Potanin
97                      Harold Hamm & family
98                              Sun Piaoyang
99                        Luo Liguo & family
100                                Peter Woo
Name: Name, Length: 91, dtype: object

In [35]:
richest.sort_values(axis=0,
                    ascending=True,
                    inplace=False,
                    kind='quicksort',
                    na_position='last',
                    ignore_index=True)

0           Abigail Johnson
1          Alain Wertheimer
2              Alice Walton
3            Amancio Ortega
4            Andrew Forrest
               ...
96           Warren Buffett
97         William Lei Ding
98     Yang Huiyan & family
99             Zhang Yiming
100          Zhong Shanshan
Name: Name, Length: 101, dtype: object

In [36]:
richest

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [40]:
richest.sort_index(ascending=False,inplace=True,ignore_index=True)

In [55]:
richest

0                 Automotive
1                 Technology
2           Fashion & Retail
3                 Technology
4      Finance & Investments
               ...
96           Metals & Mining
97                    Energy
98                Healthcare
99             Manufacturing
100              Real Estate
Name: Industry, Length: 101, dtype: object

In [58]:
richest.value_counts(normalize=True,
                     ascending=True,
                     dropna=False)

Industry
Gambling & Casinos       0.009901
Service                  0.009901
Telecom                  0.019802
Logistics                0.019802
Energy                   0.019802
Real Estate              0.029703
Media & Entertainment    0.039604
Manufacturing            0.049505
Healthcare               0.049505
Diversified              0.059406
Automotive               0.069307
Food & Beverage          0.079208
Metals & Mining          0.089109
Finance & Investments    0.128713
Technology               0.148515
Fashion & Retail         0.178218
Name: proportion, dtype: float64

In [60]:
richest=pd.read_csv('TopRichestInWorld.csv',usecols=["Age"]).squeeze()
richest

0      50
1      58
2      73
3      66
4      91
       ..
96     61
97     76
98     63
99     66
100    75
Name: Age, Length: 101, dtype: int64

In [64]:
richest.value_counts(bins=5)

(55.6, 68.4]      33
(68.4, 81.2]      27
(81.2, 94.0]      19
(42.8, 55.6]      17
(29.935, 42.8]     5
Name: count, dtype: int64

In [65]:
richest=pd.read_csv("TopRichestInWorld.csv",usecols=["Name"]).squeeze()

In [67]:
richest.head(10)

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
5                  Larry Page
6                 Sergey Brin
7               Larry Ellison
8               Steve Ballmer
9               Mukesh Ambani
Name: Name, dtype: object

In [69]:
richest[51]

'Leonardo Del Vecchio & family'

In [70]:
richest[[1,2,3]]

1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
Name: Name, dtype: object

In [72]:
richest[9:20]

9                             Mukesh Ambani
10                    Gautam Adani & family
11                        Michael Bloomberg
12                Carlos Slim Helu & family
13    Francoise Bettencourt Meyers & family
14                          Mark Zuckerberg
15                               Jim Walton
16                           Zhong Shanshan
17                             Alice Walton
18                               Rob Walton
19                           Changpeng Zhao
Name: Name, dtype: object

In [76]:
richest[-12:]

89              Andrew Forrest
90     Jiang Rensheng & family
91     Savitri Jindal & family
92                 Wang Wenyin
93                   Li Xiting
94              Stefan Persson
95                 Steve Cohen
96            Vladimir Potanin
97        Harold Hamm & family
98                Sun Piaoyang
99          Luo Liguo & family
100                  Peter Woo
Name: Name, dtype: object

In [74]:
richest[-1:]

100    Peter Woo
Name: Name, dtype: object

In [77]:
richest.index

RangeIndex(start=0, stop=101, step=1)

In [80]:
richest=pd.read_csv("TopRichestInWorld.csv",usecols=["Name","NetWorth"],index_col=["Name"]).squeeze()
richest

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
                                  ...
Vladimir Potanin             $17,300,000,000
Harold Hamm & family         $17,200,000,000
Sun Piaoyang                 $17,100,000,000
Luo Liguo & family           $17,000,000,000
Peter Woo                    $17,000,000,000
Name: NetWorth, Length: 101, dtype: object

In [81]:
richest.head(15)

Name
Elon Musk                                $219,000,000,000
Jeff Bezos                               $171,000,000,000
Bernard Arnault & family                 $158,000,000,000
Bill Gates                               $129,000,000,000
Warren Buffett                           $118,000,000,000
Larry Page                               $111,000,000,000
Sergey Brin                              $107,000,000,000
Larry Ellison                            $106,000,000,000
Steve Ballmer                             $91,400,000,000
Mukesh Ambani                             $90,700,000,000
Gautam Adani & family                     $90,000,000,000
Michael Bloomberg                         $82,000,000,000
Carlos Slim Helu & family                 $81,200,000,000
Francoise Bettencourt Meyers & family     $74,800,000,000
Mark Zuckerberg                           $67,300,000,000
Name: NetWorth, dtype: object

In [82]:
richest["Mukesh Ambani"]

'$90,700,000,000'

In [83]:
richest["Larry Page":"Mukesh Ambani"]

Name
Larry Page       $111,000,000,000
Sergey Brin      $107,000,000,000
Larry Ellison    $106,000,000,000
Steve Ballmer     $91,400,000,000
Mukesh Ambani     $90,700,000,000
Name: NetWorth, dtype: object

In [84]:
richest[0:3]

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Name: NetWorth, dtype: object

In [87]:
richest.index

Index(['Elon Musk', 'Jeff Bezos', 'Bernard Arnault & family', 'Bill Gates',
       'Warren Buffett', 'Larry Page', 'Sergey Brin', 'Larry Ellison',
       'Steve Ballmer', 'Mukesh Ambani',
       ...
       'Savitri Jindal & family', 'Wang Wenyin', 'Li Xiting', 'Stefan Persson',
       'Steve Cohen', 'Vladimir Potanin', 'Harold Hamm & family',
       'Sun Piaoyang', 'Luo Liguo & family', 'Peter Woo'],
      dtype='object', name='Name', length=101)