In [4]:
import pandas as pd

In [5]:
numbers =[1,2,3,4,5]

In [6]:
series=pd.Series(numbers)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
letters=["a","b","c","d","e"]

In [8]:
pd.Series(letters,index=numbers)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [10]:
pd.Series(letters,index=["l1","l2","l3","l4","l5"])

l1    a
l2    b
l3    c
l4    d
l5    e
dtype: object

In [11]:
D={"Name":"XYZ","work":"Unemployed"}

In [13]:
pd.Series(data=D)

Name           XYZ
work    Unemployed
dtype: object

In [14]:
pd.Series(D,index=["Name","job"])

Name    XYZ
job     NaN
dtype: object